@{
    ViewData["Title"] = "Home Page";
}

<div class="jumbotron">
    <h1>   </h1>
</div>
<div class="row">
    <div class="col-md-4">
        <h2>Welcome to Donetsk University</h2>
        <p>
            Donetsk University takes pride in having a diverse student population. We welcome
             all new comers and encourge you to learn our native Ukrainian Language and culture. 
            Our education is the most prestine in Ukraine, and we look forward to help molding your future.
        </p>
    </div>
    <div class="col-md-4">
        <h2>Ukrainian Language and Culture</h2>
        <p>We encourage all students to practice their language skills and grow in their cultural knowledge. Due to COVID restrictions, you may 
        practice your language and cultural knowledge from your home using the Language Zone program. Native Speakers
         are encouraged to apply to help new comers. </p>
        <p><a class="btn btn-default" href="https://languagezone.net">Practice Your Language and Cultural Understanding &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>Tutoring</h2>
        <p>Tuturing has also been adjusted to online zoom meetings. Please follow the link to find yourself a tutor.</p>
        <p><a class="btn btn-default" href="http://www.byui.edu">Find a Tutor &raquo;</a></p>
    </div>
</div>